<br>
<div class="row text-center white-text" >
<h1 class="custom-schedule-title">Custom Schedule for <%= @user.username %></h1>
</div>


<div class="row text-center white-text" id='app_custom'></div>
<br>
