/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@font-face {
  font-family: 'Ostrich Sans';
  font-weight: bold;
  font-style: normal;
  src: url('ostrich-sans-bold.eot?') format('eot'), url('ostrich-sans-bold.woff') format('woff'), url('ostrich-sans-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ostrich Sans';
  font-weight: normal;
  font-style: normal;
  src: url('ostrich-sans-regular.eot?') format('eot'), url('ostrich-sans-regular.woff') format('woff'), url('ostrich-sans-regular.ttf') format('truetype');
}

a {
  font-family: Futura;
  font-weight: normal;
  font-size: 20px;
  padding-left: 5px;
  color: white;
}

a:hover {
  color: #479CE5;
}

body {

  height:100%;
  color: white;
  font-family: 'Ostrich Sans', 'Futura', "Trebuchet MS", Arial, sans-serif;
}

div.callout.small.secondary {
  font-size: 1.3vmax;
}

em {
  font-size: 20px;
  color: black;
}

h1, h2, h3, h5 {
  font-family: 'Ostrich Sans', 'Futura', "Trebuchet MS", Arial, sans-serif;;
}

h2 {
  padding-left: 13px;
}

h3 {
  font-size: 2.3vmax;
}

h4 {
  font-family: 'Futura';
  font-size: 1.3vmax;
}

h5 {
  font-size: 3.1vmax;
}

h6 {
  font-size: 1.2vmax;
  font-family: 'Futura', "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

i {
  font-size: 20px;
  color: black;
}

input {
  font-size: 18px;
}

li {
  font-size: 20px;
  list-style: none;
}

label {
  font-size: 20px;
  font-family: 'Futura', "Trebuchet MS", Arial, sans-serif;
  color: white;
}


form {
  padding-bottom: 0px;
  line-height: normal;
}

select {
  width: auto;
  font-family: Futura;
  font-size: .85vmax;
}

table, th, td, thead th, thead td, tfoot th, tfoot td {
    text-align: center;
    color: white;
    background: none;
    border: 2px solid #282828;
}

table {
  width: 400px;
  margin: auto;
  background-position: center;
  padding-bottom: 0px;
  font-family: Futura;
  height: auto;
  background-color: #181818;
  background-size: auto;
}

td {
  font-size: 16px;
  background-color: none;
  line-height: 0.5px;
  height: 0px;
}

thead {
  max-width: auto;
  font-size: 16px;
  background-color: none;
}

th {
  background-color: none;
  padding-bottom: 10px;
}

td {
  max-width: 200px;
  background-color: none;
  padding: none;
}

textarea {
  font-size: 22px;
}

ul {
  margin-left: 0rem;
}

[type='email']{
  font-family: 'Futura';
  font-size: 1.2rem;
}

[type='password'] {
  font-family: 'Futura';
  font-size: 1.2rem;
}

.black-type{
  color: black;
}

.custom-schedule-title {
  font-family: 'Ostrich Sans', 'Futura', "Trebuchet MS", Arial, sans-serif;
  font-weight: normal;
  color: white;
  font-size: 4vmax;
  margin-bottom: 8px;
  line-height: .95;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.field {
  color:black;
}

.form-element {
  max-width: 400px;
  margin: 0 auto;
  font-size: 25px;
  color: black;
}

.lefty {
  text-align: left;
}

.log-in-title {
  font-family: 'Ostrich Sans', 'Futura', "Trebuchet MS", Arial, sans-serif;
  font-weight: normal;
  color: white;
  font-size: 5vmax;
  margin-bottom: 8px;
  line-height: .95;
}

.menu-icon {
  color: gray;
}

.playlist-title {
  font-family: 'Ostrich Sans', 'Futura', "Trebuchet MS", Arial, sans-serif;
  font-weight: normal;
  color: white;
  font-size: 5vmax;
  margin-bottom: 0px;
  line-height: .95;
}

.title {
  font-family: 'Ostrich Sans', 'Futura', "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 9.5vmax;
  margin-bottom: 0px;
  line-height: .95;
}

.top-bar, .top-bar ul {
  background-color: #030200;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

.transparent {
   width: auto;
   background: transparent;
   color: white;
   padding: none;
   margin-bottom: none;
 }

 .transparent:focus {
   width: auto;
   background: transparent;
   color: white;
   padding: none;
   margin-bottom: none;
 }

.unhappy{
  font-size: 1.5rem;
  font-family: 'Futura';
}

.userSelectedBackground,.userSelectedBackground:nth-of-type(even),
.userSelectedBackground:nth-of-type(odd) {
  background-color: none;
}

/* backgrounds */
.dawn {
  min-height:1100px;
  max-height:1800px;
  background-image: url('1.Dawn-photo-nic-co-uk-nic-116850.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  height:100%;
}

.sunrise {
  min-height:1000px;
  max-height:1800px;
  background-image: url('2.Sunrise-josep-castells-23322.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  height:100%;
}

.day {
  min-height:1200px;
  max-height:1800px;
  background-image: url('3.Day-jamie-macpherson-67533.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 70% 80%;
  height:100%;
}

.afternoon {
  min-height:900px;
  max-height:1800px;
  background-image: url('4.Afternoon - anna-anikina-31537.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
  height:100%;
}

.evening {
  min-height:1000px;
  max-height:1800px;
  background-image: url('5.Evening-austin-schmid-28822.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  height:100%;
}

.night_1 {
  min-height:1200px;
  max-height:1800px;
  background-image: url('6.Night-jeff-golenski-stars.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  height:100%;
}

.night_2 {
  min-height:1400px;
  max-height:1800px;
  background-image: url('7.Night-med-badr-chemmaoui-53463.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 30% 80%;
  height:100%;
}

#add-background-light {
  max-width: 600px;
  background: rgba(247,247,247, .7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 20px 10px 30px 10px;
}

#user_username {
  font-family: 'Futura';
  font-size: 1.2rem;
}

#playlist-background-light {
  max-width: 500px;
  background: rgba(247,247,247, .7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 20px 10px 30px 10px;
}

#edit-review {
  background: rgba(247,247,247, .7);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width: 200px;
  background-size: 100%;
}

#review-background {
  background: rgba(247,247,247, .7);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width: 500px;
  background-size: 100%;
  padding: 30px 10px 30px 10px;
}

#schedule {
  background-position: center;
  margin: auto;
}
