</br>
<div class="row text-center white-text" >
<h1 class="title">Sonic Sifter</h1>
<h5>Open-Minded Music for Open-Minded People</h5>

<h6>Current Time: <div id="txt"></div></h6>

<br>
</div>



<div class="row text-center white-text" id="app"></div>
<br>
