<br>
<div class="row text-center white-text" id="add-playlist-banner">
  <h1 class="playlist-title">Playlists by Name</h1>
</div>

<br>
<div class="row text-center" id="playlist-background-light">
<ul>
  <% @playlists.each do |playlist| %>
  <li><%= link_to playlist.name, playlist %></li>
  <% end %>
</ul>

</div>
